* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%) url('../images/pattern-background-desktop.svg') no-repeat;
}

main {
    width: 30%;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    box-shadow: 0 10px hsl(225, 100%, 92%);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 40px;
    margin-bottom: 10px;

}

#main-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.inline-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    background-color: hsl(225, 100%, 96%);
    padding: 20px;
    border-radius: 20px;
}


.item {
    display: flex;
    gap: 13px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

h2 {
    font-size: 0.9rem;
}

h1,
h2 {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

p {
    color: hsl(224, 23%, 55%);
    font-size: 0.9rem;
}

.change a {
    color: hsl(245, 75%, 52%);
}

.change a:hover {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

.main-p {

    line-height: 1.8;
    text-align: center;
    font-weight: 500;
}

button {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 94%);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 25px;
    box-shadow: 0 10px hsl(225, 100%, 96%);
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cancel {
    text-align: center;
    font-weight: 700;
}

.cancel a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.cancel a:hover {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}